<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header" style="text-align: center"> <strong> Iniciar Sesion </strong> </div>
    <div class="card-body">
      <form #formLogin="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="form-label-group">
            <input #cedula="ngModel" name="cedula" [(ngModel)]="login.cedula" type="number" id="inputEmail"
              class="form-control" placeholder="Cedula" required="required" autofocus="autofocus">
            <label for="inputEmail">
              Cedula
              <span *ngIf="!cedula.valid && cedula.touched" style="color:red"> <strong> Este campo es obligatorio!!! </strong> </span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input #password="ngModel" name="password" [(ngModel)]="login.password" type="password" id="inputPassword"
              class="form-control" placeholder="Password" required="required">
            <label for="inputPassword">
              Contraseña
              <span *ngIf="!password.valid && password.touched" style="color:red"> <strong> Este campo es obligatorio!!! </strong> </span>
            </label>
          </div>
        </div>
        <input type="submit" value="Iniciar sesion" [disabled]="!formLogin.form.valid" class="btn btn-primary btn-block">
      </form>
      <div class="text-center">
        <br>
        <a class="btn btn-danger btn-block" [routerLink]="['/registroUser']" href="">Registrate</a>
      </div>
    </div>
  </div>
</div>